.container {
    display: block;
    height: 90%;
    border: 1px black solid;
    position: relative;
    overflow: hidden;
}
.brick {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #E48548;
    border: 1px black solid;
}
.brick:nth-child(1) {
    top: 200px;
    left: 400px;
}
.brick:nth-child(2) {
    bottom: 200px;
    right: 100px;
}
.brick:nth-child(3) {
    top: 250px;
    left: 350px;
}
.unit {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: #ADD8E6;
    border: 1px black solid;
}
.unit-selected {
    background-color: #FFA500;
}
